{% extends "base.html" %}
{% block title %}
Enrollment List     
{% endblock %}

{% block content %}
    <div class="container-md">
        <h1>Enrollment</h1>
        <a href="{% url 'enrollment_add' %} " class="button-link">Add Enrollment</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Student</th>
                <th scope="col">Course</th>
                <th scope="col">Enrollment Date</th>
                <th scope="col">Completion Date</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>    
                {% for enrollment in enrollments %}    
                    <tr>
                        <th scope="row">{{enrollment.id}}</th>    
                        <td>{{enrollment.student.name}}</td>
                        <td>{{enrollment.course.tilte}}</td>
                        <td>{{enrollment.enrollment_date}}</td>
                        <td>{{enrollment.completion_date}}</td>
                        <td>
                            <a href="{% url 'enrollment_edit' enrollment.id %} " class="button-link button-sm">Edit</a>
                            <a href="{% url 'enrollment_delete' enrollment.id %} " class="button-link button-sm delete-btn">Delete</a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}