{% extends "base.html" %} 
{% block title %} Dashboard{% endblock %} 

{%block content %}

<div class="container-md">
  <h2>Dashboard</h2>
  <div class="dashboard-card">
    <div class="card">
      <h3>Total Products</h3>
      <p>{{ total_products }}</p>
    </div>
    <div class="card">
      <h3>Total Customers</h3>
      <p>{{ total_customers }}</p>
    </div>
    <div class="card">
      <h3>Total Orders</h3>
      <p>{{ total_orders }}</p>
    </div>
    <div class="card">
      <h3>Total Sales</h3>
      <p>${{ order_amount }}</p>
    </div>
    {% comment %} <div class="card">
      <h3>Total Purchase</h3>
      <p>{{ total_purchases }}</p>
    </div>
    <div class="card">
      <h3>Purchase Amount</h3>
      <p>${{ purchase_amount }}</p> {% endcomment %}
    </div>
  </div>
</div>

{% endblock %}