{% extends 'base.html' %}

{% block title %}Lesson List{% endblock %}

{% block content %}
<div class="container-ld">
        <h1>Lesson List</h1>
        <a href="{% url 'lesson_create' %} " class="button-link">Create Lesson</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Course</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Create Date</th>
                <th scope="col">Order</th>
                <th scope="col">File</th>
                <th scope="col">Link</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
           </thead>
            <tbody>    
                {% for lesson in lessons %}    
                    <tr>
                        <th scope="row">{{lesson.id}}</th>    
                        <td>{{lesson.course.title}}</td>
                        <td>{{lesson.title}}</td>
                        <td>{{lesson.description}}</td>
                        <td>{{lesson.created_date|date:"F j, Y"}}</td>
                        <td>{{lesson.order}}</td>
                        <td>
                            {% if lesson.document %}
                            <a href="{{ lesson.document.url }}" class="file-link" target="_blank">
                                📄 {{ lesson.document.name|cut:"lesson_documents/" }}
                            </a>
                            {% else %}
                            No file
                            {% endif %}
                        </td>
                        <td>
                            {% if lesson.video_url %}
                            <a href="{{ lesson.video_url }}" class="video-link" target="_blank">Watch Video</a>
                            {% else %}
                            No link
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'lesson_update' lesson.id %}" class="button-link button-sm">Edit</a>
                            <a href="{% url 'lesson_delete' lesson.id %}" class="button-link button-sm delete-btn">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}