<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>{% block title %}POS System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="left">POS</div>
      <div class="center">
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'dashboard_home' %}">Dashboard</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'product_list' %}">Product</a>
        <a href="{% url 'customer_list' %}">Customer</a>
        <a href="{% url 'supplier_list' %}">Supplier</a>
        <a href="{% url 'order_list' %}">Order</a>
      </div>
      <div class="right">
        <a href="">Logout</a>
      </div>
    </div>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>