{% extends "base.html" %}

{% block title %}Add Supplier{% endblock %}

{% block content %}
<div class="container-md">
  <h2>Create Order</h2>
  <a href="{% url 'order_list' %}" class="button-link">Order List</a>
  <form method="post" class="form-container">
    {% csrf_token %} {{ form.as_p }} 
    <h3>Order Items</h3>
    {{ formset.management_form }}
    <table>
      {% for form in formset %}
      <tr>
        <td>{{ form.product }}</td>
        <td>{{ form.quantity }}</td>
        <td>{% if form.instance.pk %} {{ form.DELETE }} {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  
    <button type="submit" class="button-link">Save Order</button>
  </form>
</div>
{% endblock content %}