{% extends 'base.html' %}
{% block title %}Supplier List{% endblock %}

{% block content %}
    <div class="container-md">
        <h1>Supplier List!</h1>
        <a href="{% url 'supplier_add' %}" class="button-link">Add Supplier</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>    
                {% for supplier in suppliers %}    
                    <tr>
                        <th scope="row">{{supplier.id}}</th>    
                        <td>{{supplier.name}}</td>
                        <td>{{supplier.phone}}</td>
                        <td>{{supplier.addres}}</td>
                        <td>
                            <a href="{% url 'supplier_update' supplier.id %}" class="button-link button-sm">Edit</a>
                            <a href="{% url 'supplier_delete' supplier.id %}" class="button-link button-sm delete-btn">Delete</a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

