{% extends "base.html" %} 
{% block title %} Dashboard{% endblock %} 

{%block content %}
<div class="container-md">
    <h2>📊 Dashboard</h2>
  <div class="dashboard-card">
    <div class="card">
      <h3>Total Student</h3>
      <p>{{ total_students }}</p>
    </div>
    <div class="card">
      <h3>Total Instuctor</h3>
      <p>{{ total_instructors }}</p>
    </div>
    <div class="card">
      <h3>Total Emplyee</h3>
      <p>{{ total_employees }}</p>
    </div>
    <div class="card">
      <h3>Total Course</h3>
      <p>{{ total_courses }}</p>
    </div>
    <div class="card">
      <h3>Total Enrollment</h3>
      <p>{{ total_enrollments }}</p>
    </div>
    <div class="card">
      <h3>Total Publish Course</h3>
      <p>{{ published_courses }}</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}
