{% extends "base.html"%}

{% block title %}
Teacher List    
{% endblock %}

{% block content %}
    <div class="container-md">
        <h1>Teacher List!</h1>
        <a href="{% url 'teacher_add' %} " class="button-link">Add Teacher</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Subject</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>    
                {% for teacher in teachers %}    
                    <tr>
                        <th scope="row">{{teacher.id}}</th>    
                        <td>{{teacher.name}}</td>
                        <td>{{teacher.age}}</td>
                        <td>{{teacher.phone}}</td>
                        <td>{{teacher.subject}}</td>
                        <td>
                            <a href="{% url 'teacher_edit' teacher.id %} " class="button-link button-sm">Edit</a>
                            <a href="{% url 'teacher_delete' teacher.id %} " class="button-link button-sm delete-btn">Delete</a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}