{% extends 'base.html' %}

{% block title %}Submission List{% endblock %}

{% block content %}
<div class="container-ld">
        <h1>Submission List</h1>
        <a href="{% url 'submission_create' %} " class="button-link">Create Submission</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Assignment Title</th>
                <th scope="col">Student</th>
                <th scope="col">File Upload</th>
                <th scope="col">Text Upload</th>
                <th scope="col">Submitted Date</th>
                <th scope="col">Score</th>
                <th scope="col">Feedback</th>
                <th scope="col">Graded</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>    
                {% for submission in submissions %}    
                    <tr>
                        <th scope="row">{{submission.id}}</th>
                        <td>{{submission.assignment.title}}</td>
                        <td>{{submission.student.name}}</td>
                        <td>
                            {% if submission.file_submission  %}
                            <a href="{{ submission.file_submission.url }}" class="file-link" target="_blank">
                                📄 {{ submission.file_submission.name|cut:"submissions/" }}
                            </a>
                            {% else %}
                                No file
                            {% endif %}
                        </td>
                        <td>{{submission.text_submission}}</td>
                        <td>{{submission.submitted_date|date:"F j, Y"}}</td>
                        <td>{{submission.score }}</td>
                        <td>{{submission.feedback }}</td>
                        <td>{{submission.graded}}</td>
                        <td>
                            <a href="{% url 'submission_update' submission.id %} " class="button-link button-sm">Edit</a>
                            <a href="{% url 'submission_delete' submission.id %} " class="button-link button-sm delete-btn">Delete</a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}